* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
        height: 100%;
        display: flex;
        flex-direction: column;
}

.content {
    flex: 1;
}

body {
    color: white;
    background: white;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    padding: 20px;
    font-size: 38px;
    color: #E6884F;
    text-align: center;
}

.chamada {
    color: #E6884F;
    background: #67DFE6;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    border-top: 3px solid #E6884F;
    border-bottom: 3px solid #E6884F;
}

.chamada-texto {
    margin-right: 5%;
    margin-top: 6%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    background-color: white;
    padding-bottom: 20px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.categoria h2 {
    color: #E6884F;
    text-align: center;
    padding-bottom: 15px;
}

footer{
    background-color: #E6884F; /* Cor de fundo escura para contraste */
    color: #000000; /* Texto branco */
    text-align: center; /* Centraliza o texto */
    padding: 20px; /* Espaçamento interno */
    position: relative; /* Posição relativa para ajustar a posição */
    bottom: 0; /* Alinha o footer ao fundo da página */
    width: 100%; /* Largura total da página */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

footer > p > a {
    color: aqua;
    text-decoration: none;
}
